.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}

.navbar__link {
  color: black;
  text-decoration: none;
  margin: 0.75rem;
  font-size: 2rem;
}
.navbar__link:visited {
  text-decoration: none;
  color: black;
}

.active {
  /* filter: opacity(0.5);
  background: rgb(122, 118, 118) !important; */
  color: black !important;
}

.active * {
  filter: invert(1) !important;
}
