/* .searchTwitter * {
  margin: auto;
  box-sizing: border-box;
} */

/* DROPDOWN */
.rules * {
  color: white;
}
.rules {
  margin: 1rem 1rem 0rem 1rem;
}

.rules__description {
  text-align: start;
  margin: 2ch;
}

.rules__table thead tr th,
.rules__table tbody tr td {
  border-right: white 1px solid;
  border-bottom: white 1px solid;
  padding: 1ch;
}
.rules__table tbody tr td:first-child,
.rules__table thead tr th:first-child {
  border-left: white 1px solid;
}

.rules__table thead tr th {
  border-top: white 1px solid;
}

/* INPUT  */
.inputForm {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  width: 80vw;
  justify-content: center;
}

.inputForm__input {
  width: 24rem;
  background: #181a1d;
  border: #181a1d 1.5rem solid;
  border-radius: 5rem;
  font-size: 1.5rem;
  margin: 2rem auto 1.5rem auto;
  color: white;
}

.inputForm__input:focus-visible {
  outline: none;
}

.inputForm__input:hover {
  background: #1c1e21;
  border: #1c1e21 1.5rem solid;
}
